

None selected

Skip to content
Using Gmail with screen readers
Conversations
0.08 GB of 15 GB used
Terms · Privacy · Programme Policies
Last account activity: in 2 minutes
Open in 1 other location · Details
#title {
    font-size: 400%;
    width: 60vmax;
  }

.center {
    margin: auto;
    padding: auto;
    text-align: center;
  }

#image {
    max-width: 70%;
    height: auto;
    display: block;
  }


  @media only screen and (min-width:480px)
  {

  }

  @media only screen and (min-width:767px)
  {

  }

  @media only screen and (min-width:991px)
  {

  }

  @media only screen and (min-width:1200px)
  {
 .font {
    padding: 0px 200px 15px 200px;
        }
  }

  @media(orientation: landscape)
  {

  }
style.css
Displaying style.css.
