body {
    margin: 0;
    padding-top: 5px;
    display: block;
    align-items: center;
    justify-content: center;
    
}
* {
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
  }
  ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
  }
  ul li a{
  text-decoration: none; 
  cursor: pointer;
  color: black;
  }
  ul li a:hover {
     background-color:lightgray;
  }
.original  {
    font-size: 30px;
    font-family: cursive;
    text-align: left;
}
.first-heading {
    font-size: 15px;
    font-family: arial;
    text-align: center;
}
#email {
    width: 30%;
}
#submit {
    background-color: yellow;
    padding:5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    
}
.premium {
    margin-left: 20%;
}
.shipping {
    margin-left: 20%;
}
.quality {
    margin-left: 20%;
}
.video {
    align-items: center;
}
.price-trem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Trembox{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: rgb(218, 216, 216);
    width: 320px;
    margin:10px;
}

.trem{

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:25px;
}
.textTrembox{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.textTrembox button{
    background-color: rgb(253, 190, 1);
    border-width: 0px;
    font-size: medium;
    padding: 12px;
}
.footer{
    display: flex;
    background-color: rgb(218, 216, 216);
    align-items: center;
    justify-content: flex-end;
    padding-top:15px;
}
.footer a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.youtubeimage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
